[Unit]
Description=hikvision to shinobi motion detector provider
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash -c '/home/computer/workspace/shinobi_alarm_install/hikvision_alarm_proxy SET_CAM_IP SET_CAM_PORT SET_CAM_LOGIN SET_CAM_PASS 66'
Restart=always

[Install]
WantedBy=multi-user.target
