[Unit]
Description=new hikvision to shinobi motion detector provider
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash -c '/home/computer/workspace/shinobi_alarm_install/hikvision_alarm_client /home/computer/workspace/shinobi_alarm_install/config1.cfg'
Restart=always

[Install]
WantedBy=multi-user.target
