[Unit]
Description=shinobi alarm server service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash -c '/usr/local/bin/shinobi_alarm_server --s_ac_id 5Y9bj3R7C5 --s_id kpqprFHKKP Fci8iiyetp --c_id 66 1'
Restart=always

[Install]
WantedBy=multi-user.target
