[Unit]
Description=shinobi alarm server service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash -c '/usr/local/bin/shinobi_alarm_server --c /usr/local/etc/shinobi_alarm_server/config.txt'
Restart=always

[Install]
WantedBy=multi-user.target
